@import '~styles/layout';

.Social {
  display: inline-block;
  fill: $foreground;
  cursor: pointer;

  transition: linear 0.2s fill;

  &:hover {
    fill: $foreground_hue1;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
